
.counter {
    display: flex;
    flex-direction: column;
    margin: auto auto;
    border: 3px solid rgb(241, 212, 247);
    border-radius: 20px;
    width: 350px;
    height: 200px;
    padding: 40px 0;
    gap: 20px

}

.number {
    width: 250px;
    display: flex;
    margin: 0 auto;
    border: 3px solid rgb(241, 212, 247);
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    font-size:40px;
    font-weight: bold;
    color: rgb(241, 212, 247);
    background-color: rgba(255, 255, 255, 0.2);
}

.max {
    width: 250px;
    display: flex;
    margin: 0 auto;
    border: 3px solid rgb(241, 212, 247);
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    padding: 4px 0;
    font-size:50px;
    font-weight: bold;
    color: rgb(216, 82, 100);
    background-color: rgba(255, 255, 255, 0.2);
}

.button_conteiner {
    width: 250px;
    display: flex;
    border: 3px solid rgb(241, 212, 247);
    border-radius: 20px;
    margin: 0 auto;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}

.onActiveButton {
    border: 1px solid rgb(241, 212, 247, 0.2);
    border-radius: 20px;
    width: 90px;
    padding: 5px;
    color: rgb(64, 37, 81);
    font-size:20px;
    font-weight: bold;
    cursor: pointer;
}