.App {
  display: flex;
  margin: 0 auto;

}

.counter {
  display: flex;
  flex-direction: column;
  margin: 0 auto;

}

.button_conteiner {
  display: flex;
  border: 3px solid blue;
  padding: 20px 60px

}